.logo{ background-image: linear-gradient(to right, gray, darkgray, lightgray, gray);height: 10vh;text-align: center; }
.logo .nagl1, .nagl2 , .nagl3 {display: inline-block;}
.menu{background-color:grey; height: 80vh; width: 26%; float: left;}
.tresc{background-color:#249D9F;height: 80vh; width: 74%; float: right;}
.stopka{background-image: linear-gradient(to right, gray, darkgray, lightgray, gray);height: 10vh;clear: both;align-items: center;display: flex;justify-content: center;}
div{font-family: Geomanist Semibold;font-size: large;}
*{margin: 0;}
iframe{width: 100%;height: 100%;}

.animacja{animation-name: animacja;animation-duration: 3s;animation-iteration-count: infinite;animation-direction: alternate;border-radius: 10%;align-self: center;text-align: center;width: 100px;}
@keyframes animacja {
	0%   {background-color:red;width: 120px;}
	25%  {background-color:#FF007F;width: 140px;}
	50%  {background-color:#DEAB68;width: 160px;}
	75%  {background-color:#DFD91B;width: 180px;}
	100% {background-color:yellow;width: 200px;}
}

.nagl1{font-size: clamp(18px, 7vw, 45px);top:-2px;}
.nagl2{font-size: clamp(15px, 7vw, 20px);top:-11px;}
.nagl3{font-size: clamp(15px, 7vw, 20px);top:-11px;}
.nagl4{text-align: center;border: 2px solid black;box-sizing: border-box;background-color: whitesmoke;width: 100%;}

a{color: black; text-decoration: none;}
.blok2{background-image: linear-gradient(to right, #4bf04b, #2d8a2d);width: 100%;height: 10%;position: relative;float: left;text-align: center;font-size: 2vw;display: flex;align-items: center;justify-content: center;border-style:solid;border-width: 2px;box-sizing: border-box;font-family: Comic Sans MS;}
.blok2:hover {animation: blok2 0.1s;animation-fill-mode: forwards;}
@keyframes blok2 {
    from {background-image: linear-gradient(to right, gray, darkgray, lightgray, gray);
    }
    to {background-color: #404040;font-style: bold;-webkit-box-shadow: inset 0px 0px 56px 20px rgb(12, 16, 218);
        -moz-box-shadow: inset 0px 0px 56px 20px rgb(12, 16, 218);box-shadow: inset 0px 0px 56px 20px rgb(12, 16, 218);}
}

.blok{background-image: linear-gradient(to right, #2d8a2d, #4bf04b);width: 100%;height: 10%;position: relative;float: left;text-align: center;font-size: 2vw;display: flex;align-items: center;justify-content: center;border-style:solid;border-width: 2px;box-sizing: border-box;font-family: Comic Sans MS;font-size: clamp(2.1vw, 1vw, 2.5vw);}
.blok:hover {animation: blok2 0.1s;animation-fill-mode: forwards;}
@keyframes blok {
    from {background-image: linear-gradient(to right, gray, darkgray, lightgray, gray);
    }
    to {background-color: #404040;font-style: bold;-webkit-box-shadow: inset 0px 0px 56px 20px rgb(12, 16, 218);
        -moz-box-shadow: inset 0px 0px 56px 20px rgb(12, 16, 218);box-shadow: inset 0px 0px 56px 20px rgb(12, 16, 218);}
}


.lista{background-color: #EEBC1D;border: 2px solid black;}
.marka{background-color: #EEBC1D ;border: 2px solid black;box-sizing: border-box;width: 100%;}
.opis{background-color: #0d8d1e ;border: 2px solid black;box-sizing: border-box;width: 100%;}
table, td, th{border: 2px solid black;}
.tabela{display: flex;align-items: center;}
.zdjecie1{margin-left: 20px;}
.ciekawostki{background-color: #2939b4 ;border: 2px solid black;box-sizing: border-box;width: 100%;}
.wiecej{background-image: linear-gradient(to right, #2d8a2d, #4bf04b);border: 2px solid black;box-sizing: border-box;width: 100%;display: table}
.znaczek{width: 40%;}
.dol{text-align: center;}

div.powrot {height: fit-content;width: fit-content;padding: 0.35vw;background-color: #f25d52;position: fixed;right: 10px;bottom: 10px;border: 1px solid #3e1d09;border-radius: 20px;box-shadow: 1px 2px 3px 1px black;display: none;box-sizing: border-box;}
p.gora {font-family: sans-serif;font-size: 2vw;color: #000000;text-decoration: none;}
      
@media (min-width: 601px) and (max-width: 1200px) {
    div.powrot {display: block;}
}


@media (max-width: 600px) {
    div.powrot{width: 100%;display: block;position: relative;right: 0px;bottom: 0px;}
	.zdjecie1{position: relative;flex-direction: column-reverse;width: 70%;}
	.tabela{display: flex;flex-direction: column;}
}

/*galeria*/
.row > .column {
	padding: 0 8px;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  
  .column {
	float: left;
	width: 25%;
  }
  
  
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
  }
  
 
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
  }
  

  .close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  
  .mySlides {
	display: none;
  }
  
 
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
 
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  
  .caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
  }
  
  img.demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
    
  


